.card {
    background-color: #FFFFFF;
    border: 1px solid #fff2f2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    color: black;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-link:hover .card {
    background-color: #fdf9f9;
    cursor: pointer;
  }
  .card-logo img {
    width: 250px;
  }
  