.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

.navbar-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: white;
  display: none;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  padding: 0 10px;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-list.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #567b84;
  width: 100%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar-toggle {
    display: block;
    color: white;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #567b84;
    width: 100%;
    z-index: 100;
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
  }
}
